{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="hero-overlay" class="hero-overlay wf-section">
    <div class="centered-container w-container">
      <h1>Book your next tour today </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div>
        <a href="#" class="w-button">Button text</a>
      </div>
    </div>
  </header>
  <section id="cards-section" class="cards-section wf-section">
    <div class="centered-container w-container">
      <h1>Our most famous tours </h1>
      <p>The card images have <strong>fit</strong> set to <strong>cover</strong>, so they fill their masking container without stretching. Try making the “Cards Image Mask” a circle using <strong>border-radius</strong> or adjusting the size ratio using top <strong>padding</strong>. Don’t forget to set an <strong>alt</strong> description for each image, which will help with accessibility.</p>
      <div class="cards-grid-container">
        <div id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d05-fb9617a7">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3>Title of experience </h3>
          <div class="div-block">
            <div>Location of experience </div>
            <div> / </div>
            <div>Duration </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
        </div>
        <div id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d0c-fb9617a7">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3 id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d0f-fb9617a7">Card two</h3>
          <p id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d11-fb9617a7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
        </div>
        <div id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d13-fb9617a7">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <h3 id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d16-fb9617a7">Card three</h3>
          <p id="w-node-_95de60da-9e16-e0ec-a6a2-6b8b88af3d18-fb9617a7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}